---
import { twMerge } from "tailwind-merge";
import { getEntry, render } from "astro:content";
import { Icon } from "astro-icon/components";
import { getTitle } from "../utils";

interface Props {
  id: string;
  class?: string;
}

const { id } = Astro.props;
const recipe =
  (await getEntry("recipes", id)) || (await getEntry("recipes", `ocr/${id}`));
if (!recipe) {
  throw new Error("no recipe");
}

const { title, author, ingredients, notes } = recipe.data;
const { Content } = await render(recipe);
---

<article class={twMerge("break-inside-avoid", Astro.props.class)}>
  <div class="mb-8">
    <h2 class="h1 mb-0 capitalize">{title || getTitle(id)}</h2>
    <p class="flex items-center gap-[1ch] italic">
      <Icon name="lucide:heart" class="text-lg" />
      From {author}&apos;s kitchen
    </p>
  </div>
  <div
    class="flex flex-col items-stretch gap-8 md:flex-row md:pl-8 print:flex-row print:pl-8"
  >
    <div class="max-w-max grow-1 basis-0">
      <h3 class="h2">ingredients</h3>
      {
        Array.isArray(ingredients) ? (
          <ul>
            {ingredients.map((ingredient) => (
              <li class="flex items-baseline gap-1.5">
                {/* <Underline class="flex-none w-4"/> */}
                <span>-</span>
                {ingredient}
              </li>
            ))}
          </ul>
        ) : (
          Object.entries(ingredients).map(([section, sectionIngredients]) => (
            <div>
              <p class="mt-4 font-bold capitalize">{section}</p>
              <ul>
                {sectionIngredients.map((ingredient) => (
                  <li>{ingredient}</li>
                ))}
              </ul>
            </div>
          ))
        )
      }
      {notes && <p>{notes}</p>}
    </div>
    <div class="hidden basis-0.25 bg-tx md:block print:block"></div>
    <div class="grow-2 basis-0">
      <h3 class="h2">directions</h3>
      <Content />
    </div>
  </div>
</article>
